@model  WebUI.model.DashboarViewModel

@section MenuNavigation {
    <div class="app-heading-container app-heading-bordered bottom">
        <ul class="breadcrumb">
            <li><a href="#">Vendedor</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
}

<div class="row">
    <div class="col-md-6">

        <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
            <li>
                <!-- START WIDGET -->
                <div class="app-widget-tile">
                    <div class="line">
                        <div class="title">Ventas Mensuales</div>
                        <div class="title pull-right"><span class="label label-success label-ghost label-bordered">+14.2%</span></div>
                    </div>
                    <div class="intval">9,427</div>
                    <div class="line">
                        <div class="subtitle">Total de artículos vendidos</div>
                        <div class="subtitle pull-right text-success"><span class="icon-arrow-up"></span> bien</div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </li>
            <li>
                <!-- START WIDGET -->
                <div class="app-widget-tile">
                    <div class="line">
                        <div class="title">Ventas Anuales</div>
                        <div class="title pull-right text-success">+32.9%</div>
                    </div>
                    <div class="intval">24,834</div>
                    <div class="line">
                        <div class="subtitle">Total de artículos vendidos</div>
                        <div class="subtitle pull-right text-success"><span class="icon-arrow-up"></span> bien</div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </li>
            <li>
                <!-- START WIDGET -->
                <div class="app-widget-tile">
                    <div class="line">
                        <div class="title">Ganancia</div>
                        <div class="title pull-right text-success">+9.2%</div>
                    </div>
                    <div class="intval">539,277 <small>usd</small></div>
                    <div class="line">
                        <div class="subtitle">Ganancia Anual</div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </li>
            <li>
                <!-- START WIDGET -->
                <div class="app-widget-tile">
                    <div class="line">
                        <div class="title">Desembolso</div>
                        <div class="title pull-right text-success">-12.7%</div>
                    </div>
                    <div class="intval">45,385 <small>usd</small></div>
                    <div class="line">
                        <div class="subtitle">Estadisctica anual</div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </li>
        </ul>

    </div>
   
    <div class="col-md-6">

        <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
            <li>
                <!-- START WIDGET -->
                <div class="app-widget-tile app-widget-highlight">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon icon-lg">
                                <span class="icon-bubble"></span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="line">
                                <div class="title">Mensages</div>
                                <div class="title pull-right"><span class="label label-success label-ghost label-bordered">3 NUEVOS</span></div>
                            </div>
                            <div class="intval text-left">39 / 1,589</div>
                            <div class="line">
                                <div class="subtitle"><a href="#">Ver todos los mensages</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </li>
            <li>
                <!-- START WIDGET -->
                <div class="app-widget-tile app-widget-highlight">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon icon-lg">
                                <span class="icon-envelope"></span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="line">
                                <div class="title">Correos Recividos</div>
                            </div>
                            <div class="intval text-left">2 / 481</div>
                            <div class="line">
                                <div class="subtitle"><a href="#">Abrir mensajes de la bandeja de entrada</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </li>
            <li>
                <!-- START WIDGET -->
                <div class="app-widget-tile app-widget-highlight">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon icon-lg">
                                <span class="icon-users"></span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="line">
                                <div class="title">Clientes</div>
                                <div class="title pull-right"><span class="label label-danger label-bordered">15 NEW</span></div>
                            </div>
                            <div class="intval text-left">6,233</div>
                            <div class="line">
                                <div class="subtitle"><a href="@Url.Action("Index","Cliente", new {area = "Crm"})">Abrir lista de clientes</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </li>
        </ul>

    </div>
    
</div>

<div class="row">

    <div class="col-md-6">

        <!-- START PRODUCT SALES HISTORY -->
        <div class="block block-condensed">
            <div class="app-heading">
                <div class="title">
                    <h2>Historial de Ventas</h2>
                    <p>En comparación con el "Período anterior"</p>
                </div>
                <div class="heading-elements">
                    <button type="button" class="btn btn-default btn-icon-fixed dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon-calendar-full"></span> June 13, 2016 - July 14, 2016
                    </button>
                    <ul class="dropdown-menu dropdown-form dropdown-left">
                        <li>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group margin-bottom-10">
                                        <label>From:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="icon-calendar-full"></span></div>
                                            <input type="text" class="form-control bs-datepicker" value="13/06/2016">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>To:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="icon-calendar-full"></span></div>
                                            <input type="text" class="form-control bs-datepicker" value="13/07/2016">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <button class="btn btn-default btn-block">Confirm</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-content">
                <div class="app-chart-wrapper app-chart-with-axis">
                    <div id="yaxis" class="app-chart-yaxis"></div>
                    <div class="app-chart-holder" id="dashboard-chart-line" style="height: 325px;"></div>
                    <div id="xaxis" class="app-chart-xaxis"></div>
                </div>
            </div>
        </div>
        <!-- END PRODUCT SALES HISTORY -->

    </div>

    <div class="col-md-6">

        <!-- START LATEST TRANSACTIONS -->
        @Html.Partial("TareaDashboardList", Model.Tareas)
        <!-- END LATEST TRANSACTIONS -->

    </div>
</div>

<div class="row">
    
    <div class="col-md-6">

        <!-- START PURCHASE STATISTICS -->
        <div class="block block-condensed">
            <div class="app-heading">
                <div class="title">
                    <h2>Estados Oportunidades</h2>
                    <p>Resumen estado oportunidades</p>
                </div>
                <div class="heading-elements">
                    <button class="btn btn-default btn-icon-fixed"><span class="icon-sync"></span> Actualizar</button>
                </div>
            </div>

            <div class="block-content">
                <div id="chartdiv" style="width: 100%; height: 300px;"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END PURCHASE STATISTICS -->

    </div>
    <div class="col-md-6">

        <!-- START TOP STORES -->

        <!-- END TOP STORES -->

    </div>
</div>

<div class="row">
   
</div>

@section PageScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/jvectormap/jquery-jvectormap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/jvectormap/jquery-jvectormap-world-mill-en.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/jvectormap/jquery-jvectormap-us-aea-en.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/rickshaw/d3.v3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/rickshaw/rickshaw.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/rickshaw/rickshaw.min.js")"></script>
   
    
}

@section Script
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/app_demo_dashboard.js")"></script>
}
