@using System.Globalization
@using Common.Web.HelperMethods
@using Domain.Entities
@model WebUI.Areas.Crm.Models.TareaEditCreateViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div>

        <div class="col-md-5">
            <div class="block">

                <div class="app-heading app-heading-small">
                    <div class="title">
                        <h2>Crear nueva tarea</h2>
                        <p>Los campos marcados con * son obligatorios</p>
                    </div>
                </div>

                @Html.Partial("TareaEditCreate", Model)

                
            </div>

        </div>

        <div class="col-md-7">
            <div class="app-timeline">
                
                @foreach (var history in Model.Tarea.Historial)
                {
                    <div class="app-timeline-item">
                        <div class="user"><img src="@Url.Content("~/img/avatar1.jpg")" alt="Taylor Watson"></div>
                        <div class="content">
                            <div class="title"><a href="#">@history.Tarea.CreadoPor.UserName</a> comentó sobre esta tarea: </div>
                            <p>@history.Descripcion</p>
                            <p>
                                <a href="#" class="text-muted margin-right-10"><span class="label @Html.StatusClass((int)history.TareaEstado) label-bordered">@history.TareaEstado</span></a>
                                <span class="pull-right text-muted"><i class="fa fa-clock-o"></i> @history.Fecha.ToString("D", new CultureInfo("es-Es"))</span>
                            </p>
                       
                        </div>
                    </div>
                }
             
                <div class="app-timeline-more">
                    <a href="#">...</a>
                </div>

            </div>
        </div>
    </div>

    <!-- END DATE EXAMPLE -->

</div>


