@using System.Web.UI.WebControls
@using Domain.Entities
@model WebUI.Areas.Crm.Models.TareaEditCreateViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    @Html.HiddenFor(model => model.Tarea.TareaId, 0)

    <div class="form-group">
        @Html.LabelFor(model => model.Tarea.CreadoPor)
        @Html.DropDownListFor(model => model.Tarea.CreadoPorId, new SelectList(Model.Users, "UserId", "Username"), new { @class = "bs-select", data_live_search = "true" })
        @Html.ValidationMessageFor(model => model.Tarea.AsignadoAId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Tarea.AsignadoAId)
        @Html.DropDownListFor(model => model.Tarea.AsignadoAId, new SelectList(Model.Users, "UserId", "Username"), new { @class = "bs-select", data_live_search = "true" })
        @Html.ValidationMessageFor(model => model.Tarea.AsignadoAId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tarea.TareaEstado)
        @Html.DropDownListFor(model => model.Tarea.TareaEstado, new SelectList(Enum.GetValues(typeof(TareaEstado))), new { @class = "bs-select" })

        @Html.ValidationMessageFor(model => model.Tarea.TareaEstado, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tarea.FechaCumplimiento)
        @Html.TextBoxFor(model => model.Tarea.FechaCumplimiento, new { @class = "form-control bs-datetimepicker" })
        @Html.ValidationMessageFor(model => model.Tarea.FechaCumplimiento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tarea.Descripcion)
        @Html.TextAreaFor(model => model.Tarea.Descripcion, new { @class = "form-control", rows = 5 })
        @Html.ValidationMessageFor(model => model.Tarea.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group margin-top-20">
        <button class="btn btn-default" type="submit">Submit &amp; Validate</button>
        <a href="@Url.Action("Index")"></a> <button class="btn btn-primary btn-icon-fixed pull-right"><span class="icon-arrow-left"></span> Listas</button>
    </div>


}
