@model Domain.Entities.Contacto
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        Url = Url.Action("Delete", "Contacto", new { id = Model.ContactoId }),
        OnSuccess = "OnCoctactoDeleteSuccess",
        OnFailure = "OnFailure",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loading",
        Confirm = "El contacto se eliminara permanentemente, desea continuar?"
    };
}


<tr id="contactoRow-@Model.ContactoId">
   
    @Html.HiddenFor(model => model.ClienteId)

    <td>
        <a id="contactoRowNombre-@Model.ContactoId">@Model.Nombre</a>
    </td>
    <td id="contactoRowCargo-@Model.ContactoId">@Model.Cargo</td>
    <td id="contactoRowFechaNacimiento-@Model.ContactoId">@Model.FechaNacimiento.ToString("d")</td>
    <td id="contactoRowCelular-@Model.ContactoId">@Model.Celular</td>
    <td id="contactoRowTomaDecision-@Model.ContactoId" align="center">
        @if (Model.TomaDecision)
        {
            <span class="icon-thumbs-up success" style="font-size: 19px"></span>
        }
</td>
<td id="contactoRowEmail-@Model.ContactoId">@Model.Email</td>
<td>
    @using (Ajax.BeginForm("Delete", "Contacto", new { id = Model.ContactoId }, ajaxOptions, new { @id = "formDeleteContacto-" + Model.ContactoId }))
    {
    }

    <button type="button" class="btn btn-default btn-icon"><span class="fa fa-pencil" onclick="ShowModalEditContacto(@Model.ContactoId)"></span></button>
    <button class="btn btn-default btn-icon" onclick="DeleteContacto($('#formDeleteContacto-@Model.ContactoId'))"><span class="fa fa-times"></span></button>
</td>
</tr> 