<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boooya - Top Navigation</title>

    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="@Url.Content("~/Content/styles.css")">
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/funnel.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- EOF CSS INCLUDE -->
</head>
<body>

    <!-- APP WRAPPER -->
    <div class="app">

        <!-- START APP CONTAINER -->
        <div class="app-container" style="background: url(@Url.Content("~/img/6.png")) center center no-repeat fixed;">
            <!-- START APP HEADER -->
            <div class="app-header">
                <ul class="app-header-buttons visible-mobile">
                    <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span class="icon-menu"></span></a></li>
                </ul>
                <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>

                @if (Request.IsAuthenticated)
                {
                    @Html.Action("GetUserToBarCredential", "Home")
                }

            </div>
            <!-- END APP HEADER  -->
            <!-- START APP CONTENT -->
            <div class="app-content">
                <div class="app-navigation-horizontal">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="index.html"><span class="icon-laptop-phone"></span> Dashboard</a>
                                <ul>
                                    <li class="active"><a href="#">Statistics</a></li>
                                    <li><a href="#">Visitors</a></li>
                                    <li><a href="#">Sales</a></li>
                                    <li><a href="#">Customers</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="icon-archive2"></span> Navigation Item 1</a>
                                <ul>
                                    <li><a href="#">Sub Element 1-1</a></li>
                                    <li><a href="#">Sub Element 1-2</a></li>
                                    <li><a href="#">Sub Element 1-3</a></li>
                                    <li><a href="#">Sub Element 1-4</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="icon-user-plus"></span> Another Item 2</a>
                                <ul>
                                    <li><a href="#">Another Sub 2-1</a></li>
                                    <li><a href="#">Another Sub 2-2</a></li>
                                    <li><a href="#">Another Sub 2-3</a></li>
                                    <li><a href="#">Another Sub 2-4</a></li>
                                    <li><a href="#">Another Sub 2-5</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="icon-calendar-full"></span> Perfect Item 3</a>
                                <ul>
                                    <li><a href="#">Perfect Sub 3-1</a></li>
                                    <li><a href="#">Perfect Sub 3-2</a></li>
                                    <li><a href="#">Perfect Sub 3-3</a></li>
                                    <li><a href="#">Perfect Sub 3-4</a></li>
                                    <li><a href="#">Perfect Sub 3-5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- START PAGE HEADING -->
                <div class="app-heading app-heading-bordered app-heading-page">
                    <div class="icon icon-lg">
                        <span class="icon-laptop-phone"></span>
                    </div>
                    <div class="title">
                        <h1>Boooya - Admin Template</h1>
                        <p>The revolution in admin template build</p>
                    </div>
                    <!--<div class="heading-elements">
                        <a href="#" class="btn btn-danger" id="page-like"><span class="app-spinner loading"></span> loading...</a>
                        <a href="https://themeforest.net/item/boooya-revolution-admin-template/17227946?ref=aqvatarius&license=regular&open_purchase_for_item_id=17227946" class="btn btn-success btn-icon-fixed"><span class="icon-text">$24</span> Purchase</a>
                    </div>-->
                </div>
                <div class="app-heading-container app-heading-bordered bottom">
                    <ul class="breadcrumb">
                        <li><a href="#">Application</a></li>
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
                <!-- END PAGE HEADING -->
                <!-- START PAGE CONTAINER -->
                <div class="container">

                    @if (ViewBag.Error != null)
                    {
                        <div class="app-statusbar app-statusbar-danger" id="errorStatusBar" style="display: block">
                            <div class="app-statusbar-icon"><span class="icon-volume-high"></span></div>
                            <div class="app-statusbar-text">@ViewBag.Error</div>
                            <div class="app-statusbar-close fa fa-times"></div>
                        </div>

                    }

                    @if (ViewBag.Success != null)
                    {
                        <div class="app-statusbar app-statusbar-success" id="errorStatusBar" style="display: block">
                            <div class="app-statusbar-icon"><span class="icon-volume-high"></span></div>
                            <div class="app-statusbar-text">@ViewBag.Error</div>
                            <div class="app-statusbar-close fa fa-times"></div>
                        </div>

                    }

                    <div class="row margin-bottom-15" style="display: none" id="loading">
                        <div class="col-md-1 col-sm-2">
                            <div class="app-spinner pulse pulse-success"></div>
                        </div>
                    </div>
                    @RenderBody()


                </div>
                <!-- END PAGE CONTAINER -->

            </div>
            <!-- END APP CONTENT -->

        </div>
        <!-- END APP CONTAINER -->
        <!-- LIST OF STATUSBARS -->
        <!-- END LIST OF STATUSBARS-->

    </div>
    <!-- END APP WRAPPER -->
    <!-- IMPORTANT SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/jquery/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/bootstrap/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/moment/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/customscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <!-- END IMPORTANT SCRIPTS -->
    <!--PAGE SCRIPST-->
    @RenderSection("PageScripts", false)
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/noty/jquery.noty.packaged.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/bootstrap-select/bootstrap-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js")"></script>
    <!--END PAGE SCRIPST-->
    <!-- APP SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app_plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app_demo.js")"></script>
    @RenderSection("Script", false)
    <!-- END APP SCRIPTS -->

    <script type="text/javascript">

        function OnSuccess(data) {
            $('.modal').modal('hide');
            app_plugins.notificar("success", "Exito!", "La tarea fue modificada con éxito");
        }
        function OnFailure(request, error) {
            $('.modal').modal('hide');
            app_plugins.notificar("error", "Error", request.responseJSON);
        }

        //REGION DE CONTACTOS
        function OnCoctactoDeleteSuccess(data) {
            $('.modal').modal('hide');
            $('#contactoRow-' + data.id).remove();
            app_plugins.notificar("success", "Exito!", "La acción se completo con éxito");

        }

        function OnContactoAddSuccess(data) {
            $('.modal').modal('hide');
            $('.modal input').val("");
            app_plugins.notificar("success", "Exito!", "El contacto se agrego  con éxito");
        }

        function DeleteContacto(form) {
            form.submit();
        }
        //END REGION DE CONTACTOS

        var chart = AmCharts.makeChart("chartdiv", {
            "type": "funnel",
            "theme": "light",
            "dataProvider": [{
                "title": "Ganado",
                "value": 100
            }, {
                "title": "Espectativa de Cierre",
                "value": 123
            }, {
                "title": "Negociación/Revisión",
                "value": 98
            }, {
                "title": "Presentación Solución",
                "value": 72
            }, {
                "title": "Proyecto Viable",
                "value": 35
            }, {
                "title": "Calificar",
                "value": 35
            }],
            "balloon": {
                "fixedPosition": true
            },
            "valueField": "value",
            "titleField": "title",
            "marginRight": 240,
            "marginLeft": 50,
            "startX": -500,
            "depth3D": 100,
            "angle": 40,
            "outlineAlpha": 1,
            "outlineColor": "#FFFFFF",
            "outlineThickness": 2,
            "labelPosition": "right",
            "balloonText": "[[title]]: [[value]]n[[description]]",
            "export": {
                "enabled": true
            }
        });


    </script>


</body>
</html>