@using System.Data
@using Common.Web.HelperMethods
@using Domain.Entities
@model IEnumerable<Domain.Entities.Tarea>

@{
    ViewBag.Title = "Index";

}

<div class="block block-condensed">
    <div class="app-heading">
        <div class="title">
            <h2>Listados de tareas</h2>
            <p></p>
        </div>
        <div class="heading-elements">
            <a href="@Url.Action("Index","Tarea",new {area = "Crm"})"><button class="btn btn-default btn-icon-fixed"><span class="icon-list"></span> Todas las Tareas</button></a>
        </div>
    </div>
    <div class="block-content">
        <div class="table-responsive">
            <table class="table table-clean-paddings margin-bottom-0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                        <th width="55">@Html.DisplayNameFor(model => model.TareaEstado)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="contact contact-rounded contact-bordered contact-lg">
                                    <img src="@item.CreadoPor.Perfil.ImagenUrl">
                                    <div class="contact-container">
                                        <a href="#">@item.CreadoPor.UserName</a>
                                        <span>@item.Fecha.ToString("D")</span>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td id="tareaModal-@item.TareaId"><span class="label @Html.StatusClass((int)item.TareaEstado) label-bordered">@item.TareaEstado</span></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default btn-icon btn-clean dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-left">
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#modal-primary-@item.TareaId"><span class="icon-pencil text-info"></span>        Editar Tarea</a>
                                        </li>
                                        <li><a href="@Url.Action("Edit","Tarea", new {area = "Crm", id = item.TareaId})"><span class="icon-spell-check text-warning"></span> Detalle</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><span class="icon-cross-circle text-danger"></span> Delete transactions</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.Action("CreateTareaModals","Tarea", new { Tareas = Model })






