@model WebUI.Areas.Admin.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boooya - Login With Background</title>

    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="@Url.Content("~/Content/styles.css")">
    <!-- EOF CSS INCLUDE -->
</head>
<body>

    <!-- APP WRAPPER -->
    <div class="app app-fh">

        <!-- START APP CONTAINER -->
        <div class="app-container" style="background: url(@Url.Content("~/img/img-2.jpg")) center center no-repeat fixed;">

            <div class="app-login-box">
                <div class="app-login-box-user"><img src="@Url.Content("~/img/user/no-image.png")"></div>
                <div class="app-login-box-title">
                    <div class="title">SP.CRM</div>
                    <div class="subtitle">Iniciar sesión en su cuenta</div>
                </div>
                <div class="app-login-box-container">
                   @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                   {
                       @Html.AntiForgeryToken()
                       @Html.ValidationSummary(true)


                       <div class="form-group">                        
                           @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "nombre usuario" })
                           @Html.ValidationMessageFor(m => m.UserName)
                       </div>
                       <div class="form-group">
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "contraseña" })
                           @Html.ValidationMessageFor(m => m.Password)
                       </div>
                       <div class="form-group">

                           <div class="row">
                               <div class="col-md-6 col-xs-6">
                                   <div class="app-checkbox">
                                       <label><input type="checkbox" name="app-checkbox-1" value="0"> Remember me</label>
                                   </div>
                               </div>
                               <div class="col-md-6 col-xs-6">
                                   <button class="btn btn-success btn-block">Autenticar</button>
                               </div>
                           </div>

                       </div>
                   }
                </div>
                <div class="app-login-box-or">
                    <div class="or">OR</div>
                </div>
                <div class="app-login-box-container">
                    <button class="btn btn-facebook btn-block">Connect With Facebook</button>
                    <button class="btn btn-twitter btn-block">Connect With Twitter</button>
                </div>
                <div class="app-login-box-footer">
                    &copy; Boooya 2016. All rights reserved.
                </div>
            </div>

        </div>
        <!-- END APP CONTAINER -->

    </div>
    <!-- END APP WRAPPER -->
    <!-- IMPORTANT SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/jquery/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/bootstrap/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/moment/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vendor/customscrollbar/jquery.mCustomScrollbar.min.js")"></script>
    <!-- END IMPORTANT SCRIPTS -->
    <!-- APP SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app_plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app_demo.js")"></script>
    <!-- END APP SCRIPTS -->
</body>
</html>